<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs1</title>
</head>
<body>
    <!-- <h1>Hey! It's a weekday, it's time to work hard!</h1>
    <h1>Hey! It's the weekend, it's time to have fun!</h1> -->
    <h1>Hey! It's <%= dayType %>, it's time to <%= advice %>!</h1>
</body>
</html>